@page "/"

@using ms_identity_dotnet_blazor_azure_sql.Data
@inject WeatherForecastService ForecastService
@inject AuthenticationStateProvider GetAuthenticationStateAsync


<h1>Blazor with SQL Server</h1>
<h4><strong>@_greetingsMessage</strong></h4>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string _loggedUser;
    private string _greetingsMessage;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        if (authstate.User.Identity.IsAuthenticated)
        {
            _loggedUser = await ForecastService.GetDatabaseLoggedUser(ForecastService.GetAccountIdentifier(authstate));

            if (_loggedUser == "N/A")
                _greetingsMessage = "Please Log Out of the current user and re-login.";
            else
                _greetingsMessage = $"The user logged into SQL Database is {_loggedUser}";
        }            
    }
}
