@page "/"

@using ms_identity_dotnet_blazor_azure_sql.Data
@inject WeatherForecastService ForecastService
@inject AuthenticationStateProvider GetAuthenticationStateAsync


<h1>Blazor with SQL Server</h1>
<h4>The user logged into SQL Database is <strong>@_loggedUser</strong></h4>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string _loggedUser;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        //"ae6bdf0d-ba13-4e00-88f8-0fe4f661c86d.979f4440-75dc-4664-b2e1-2cafa0ac67d1" - Alex local account identifier
        _loggedUser = await ForecastService.GetDatabaseLoggedUser(ForecastService.GetAccountIdentifier(authstate));
    }    
}
